/*---------------------------------Подключаю шрифты--------------------------------*/

@font-face {
    font-family: "OpenSansBold";
    src: url(../fonts/OpenSans-Bold.ttf) format("ttf");

}

@font-face {
    font-family: "OpenSansBold";
    src: url(../fonts/OpenSans-Bold.woff) format("woff");

}

@font-face {
    font-family: "OpenSansBold";
    src: url(../fonts/OpenSans-Bold.woff2) format("woff2");


}

@font-face {
    font-family: "OpenSansRegular";
    src: url(../fonts/OpenSans-Regular.ttf) format("ttf");

}

@font-face {
    font-family: "OpenSansRegular";
    src: url(../fonts/OpenSans-Regular.woff) format("woff");

}

@font-face {
    font-family: "OpenSansRegular";
    src: url(../fonts/OpenSans-Regular.woff2) format("woff2");

}

:root {
    --color-gray: #f4f7f6;
    --color-orange: #b59f5b;
    --color-black: #000000;
    --color-white: #ffffff;



}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

/****************************Header****************************************************/

.container_header {
    position: relative;
    max-width: 1660px;
    height: 449px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container_header::before {
    content: "";
    background-color: var(--color-black);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: auto;
}

.container_menu_logo_icon {
    display: flex;
    position: relative;
    margin: auto;
    /* height: 41px;*/
    padding-left: 15px;
    padding-right: 15px;
    top: 28px;
    justify-content: space-between;
}

.container_menu_logo {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 100%;
}

.menu {
    display: flex;
    /* width: 462px;*/
    justify-content: space-between;
    list-style: none;

}

.menu_item {
    margin-left: 28px;
    font-family: "OpenSansRegular", sans-serif;
    font-size: 13px;
    line-height: 38px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-white);
    text-decoration: none;

}



.header_title {
    position: relative;
    margin-top: 110px;
    margin-right: auto;
    margin-left: auto;
    /* display: flex;
    justify-content: center;*/
    text-align: center;
    max-width: 690px;
    /* padding-left: 400px;
    padding-right: 400px;*/
    width: 100%;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 45px;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);

}

i {
    color: var(--color-white);

}

.fa-bars {
    visibility: hidden;

}

/****************************Header_end****************************************************/
/****************************Заголовой "Сейчас в тренде************************************/

.title_after_header {
    text-align: center;
    margin-top: 59px;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: #0f0d0e;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.title_after_header::after {
    content: "";
    display: block;
    height: 3px;
    background-color: var(--color-orange);
    width: 7%;
    margin: 15px auto 0;
}

/****************************TREND****************************************************/
.trends {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 50px;
    padding: 0 0 0 0;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: calc(25% - 3px);
    min-height: 320px;
    align-items: flex-end;
    justify-content: center;
    padding-right: 1.2%;
    padding-bottom: 16px;
    padding-left: 1.2%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.banner1 {
    background-image: url(../images/trend1.jpg);

}

.banner2 {
    background-image: url(../images/trend2.jpg);

}

.banner3 {
    background-image: url(../images/trend3.jpg);
}


.banner4 {
    background-image: url(../images/trend4.jpg);
}

.banner::before {
    content: "";
    background-color: var(--color-black);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: auto;
}

.banner_line {
    position: relative;
    width: 100%;
    border: 3px solid var(--color-orange);
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 30px;

}

.banner_title_english {
    padding-right: 10px;
    list-style: none;
    text-decoration: none;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-orange);
}

.banner_title_rus {
    list-style: none;
    text-decoration: none;
}

.banner_title_rus h2 {
    font-family: 'OpenSansBold', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);

}

/***************************************main Левый и правый контейнеры********************************************/
.container_main {
    /* width: 100%;*/
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.main_left_container {
    width: 69%;

}

.aside_right_container {
    width: 275px;
    margin-left: auto;
    margin-right: auto;

}

/*-------------------------------------aside_left_container----------------------------*/
.article {
    display: flex;
    margin-left: auto;
    align-items: start;
    gap: 25px;
    margin-bottom: 50px;
    /* width: 793px;*/
}

.article_foto {
    width: 381px;

}


.article_header {
    display: flex;
    list-style: none;
    margin-bottom: 13px;

}

.article_header_item {
    padding-right: 10px;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-orange);
    text-decoration: none;
}

.article_title {
    display: inline-block;
    font-family: "OpenSansBold", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
    margin-bottom: 30px;
    text-decoration: none;
}

.data_authou {
    display: flex;
    margin-bottom: 30px;
}

.data {
    font-family: 'OpenSansBold', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    margin-right: 10px;

}

.author {
    font-family: 'OpenSansBold', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #000000;

}

.article_info p {
    text-align: left;
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #0f0d0e;
    margin-bottom: 10px;
}

/*-------------------------------------aside_right_container----------------------------*/
/*-------------------------------------Заголовок  правого контейнера----------------------------*/
.small_header {
    text-align: center;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;

}

.small_header::after {
    content: "";
    display: block;
    height: 3px;
    background-color: var(--color-orange);
    width: 30%;
    margin: 13px auto 30px;
}


/*-------------------------------------aside_right_container статьи--------------------*/

.article_small {
    display: flex;
    align-items: start;
    gap: 12px;
    margin-bottom: 20px;
    /*  width: 271px;*/
}


.article_small_data {
    margin-top: 0;
    opacity: 0.54;
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-black);
}

.article_small_title {
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-black);
}

/* ----------------------------------search__group -----------------------------------------*/
.form_search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;

}

.search__field {
    width: 100%;
    height: 49px;
    background-color: var(--color-gray);
    padding-left: 10px;
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 13px;
    font-weight: 400;
    border: 0;


}

.search__button {
    min-width: 48px;
    height: 49px;
    background-color: var(--color-orange);
    background-image: url('../svg/search.svg');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;

}

.search__field_email {
    width: 100%;
    height: 49px;
    background-color: var(--color-gray);
    padding-left: 10px;
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
    border: 0;


}

.button_subscribe {
    width: 100%;
    height: 49px;
    background-color: var(--color-orange);
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 30px;
    border: 0;


}

/*---------------------------------teg---------------------------*/
.teg {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2px;
    margin-bottom: 30px;
}

.teg_item {
    display: inline-block;
    height: 30px;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #0f0d0e;
    border: 3px solid var(--color-gray);
    padding: 5px 12px 12px;
    margin-left: 10px;
    margin-bottom: 5px;
    text-decoration: none;

}

/*-----------------------------------Темы---------------------------*/

.tema_table {
    list-style: none;

}

.tema_table li {
    border-bottom: 2px solid var(--color-gray);
}

.table_cell {
    display: block;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-black);
    text-decoration: none;
    margin-bottom: 15px;

}

.table_index {
    font-family: 'OpenSansBold', sans-serif;
    font-size: 12px;
    line-height: 36px;
    font-weight: 700;
    color: var(--color-orange);
}

/*.tema_table_hr {
    margin-top: 12px;
    border: 1.5px solid var(--color-gray);

}*/

/*------------------------------------------Наши продукты-------------------------------*/

.content_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    /*padding-left: 15%;
    padding-right: 15%;*/
    margin-left: auto;
    margin-right: auto;
    gap: 58px;

}

.content_item {
    width: 348px;
}

.content_item_top {
    width: 100%;
    padding-right: 23px;
    padding-left: 23px;


}

.content_item_bottom {
    position: relative;
    width: 100%;
    min-height: 267px;
    border: 3px solid var(--color-orange);
    margin-top: -32px;
    padding: 50px 23px 0 23px;
    z-index: 2;
}

.content_item_bottom_head {
    font-family: 'OpenSansBold', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
    margin-bottom: 15px;

}

.content_item_bottom_title {
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 800;
    color: #0f0d0e;
    margin-bottom: 20px;

}

.content_item_bottom_title a {
    color: var(--color-orange);
    text-decoration: none;
}

.content_item_top_shop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.content_item_top_price {
    display: flex;
    flex-direction: column;
}

.price_old {
    font-family: 'OpenSansRegular';
    font-size: 15px;
    font-weight: 800;
    text-decoration: line-through;
    color: #0f0d0e;
}

.price_new {
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 800;
    color: #0f0d0e;
}

.button_shop {
    text-align: center;
    width: 130px;
    height: 49px;
    background-color: var(--color-orange);
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);
    text-decoration: none;
}


/*---------------------------footer------------------------------------------------------*/
.footer {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
    height: 83px;
    gap: 50px;
    background-color: var(--color-gray);
    margin-bottom: 20px;
}

.footer_item {
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.dribbble {
    background-image: url(../svg/001-dribbble.svg);

}

.pinterest {
    background-image: url(../svg/001-pinterest.svg);

}

.twitter {
    background-image: url(../svg/004-twitter.svg);

}

.Copyright {
    display: block;
    text-align: center;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
    color: #999999;
}



/*--------------------------end_footer----------------------------------------------------*/

/*--------------------------------------Медиа запросы------------------------------------------------------*/

@media screen and (min-width: 641px) and (max-width: 1200px) {

    .container_header {
        background-image: url("../images/banner-bg-tablet.jpg");
        height: 392px;

    }

    .container_menu_logo_icon {
        padding-left: 4%;
        padding-right: 4%;
    }

    .container_menu_logo {
        margin-left: 0px;
    }

    .header_title {
        /* padding-right: 10%;
        padding-left: 10%;*/
        max-width: 620px;
        font-size: 40px;
        line-height: 55px;
        font-weight: 700;

    }

    .menu {
        display: none;
    }

    .fa-bars {
        visibility: visible;
    }

    /*-----------------------------------Тренды-------------------------------------------------------------------*/
    .banner {
        width: calc(50% - 2px);
        height: 247px;
        padding-right: 2.4%;
        padding-left: 2.4%;

    }

    .banner_line {
        padding-left: 4.2%;
        padding-right: 4.2%;

    }

    .banner_title_rus {
        font-size: 17px;
        line-height: 20px;
    }

    .banner_title_english {
        font-size: 14px;
    }

    /*---------------------------------------------------Статьи-------------------------------------------------*/



    /*.aside_left_container {
        flex-direction: column;
        width: 55%;
        margin-left: auto;
        margin-right: auto;

    }*/

    .aside_right_container {
        margin-left: 20px;


    }

    .article {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        margin-bottom: 50px;
    }

    .article_foto {
        width: 100%;


    }

    .article_info::after {
        content: "";
        display: block;
        height: 3px;
        background-color: var(--color-gray);
        width: 100%;
        margin: 15px auto 0;
    }

    .content_container {
        justify-content: left;
        padding-left: 4%;
        padding-right: 4%;
        gap: 3%;
    }

    .content_item {
        width: 48%;
        margin-bottom: 20px;

    }

    .content_item_top {
        display: block;
    }

    .footer {
        width: 92%;
    }

}

@media screen and (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {

    .banner {
        width: calc(25% - 3px);
    }

}



/*--------------------------------------Медиа запросы (min-width: 360px) and (max-width: 640px)-------------------------*/

@media screen and (min-width: 360px) and (max-width: 640px) {

    .container_header {
        background-image: url("../images/banner-mobile.jpg");
        height: 639px;
    }

    .container_menu_logo {
        margin-left: 43px;
        margin-right: 0px;
        padding-top: 197px;
        justify-content: center;
    }

    .menu {
        display: none;
    }


    .fa-bars {
        visibility: visible;
    }

    .logo {
        width: 269px;
        height: 61px;

    }

    .header_title {
        max-width: 280px;
        font-size: 26px;
        line-height: 36px;
        font-weight: 700;
        margin-top: 65px;

    }


    /*---------------------------------------Баннеры-----------------------------*/
    .banner {
        width: 100%;
        padding-right: 4.2%;
        padding-left: 4.2%;
        margin-bottom: 1px;
    }

    .banner_line {
        padding-left: 4.2%;
        padding-right: 4.2%;
    }

    .banner_title_rus {
        font-size: 16px;
        line-height: 20px;
    }

    .banner_title_english {
        font-size: 14px;
    }

    /*--------------------------------------------Main--------------------------------*/

    .container_main {
        flex-direction: column;
    }

    .article {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    .main_left_container,
    .aside_right_container {
        width: 100%;
        /*padding-left: 16px;
        padding-right: 16px;*/

    }


    .article_foto {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

    }

    .article_info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    .article_title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .data_authou {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .article_info::after {
        content: "";
        display: block;
        height: 3px;
        background-color: var(--color-gray);
        width: 100%;
        margin: 15px auto 0;
    }

    /*-----------------Форма поиска, ввод e-mail, кнопка подписаться------------------------*/

    .form_search {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .search__field {
        width: 100%;

    }

    .small_header {
        width: 100%;
    }

    .search__field_email {
        width: 100%;
    }

    .button_subscribe {
        width: 100%;
    }

    /*-----------------Теги, Темы------------------------*/

    .teg {
        width: 100%;
    }

    .tema_table {
        width: 100%;
    }

    /*-----------------Наши работы------------------------*/

    .title_after_header {
        font-size: 16px;
    }

    .title_after_header::after {
        width: 20%;
    }

    .content_container {
        padding-left: 5.8%;
        padding-right: 5.8%;
    }

    .content_item {
        width: 100%;
        margin-bottom: 20px;

    }

    .content_item_top {
        display: block;
    }

    .content_item_top img {
        width: 100%;
    }


    /*-----------------------footer-----------------*/
    .footer {
        width: 88%;
    }
}

@media screen and (min-width: 360px) and (max-width: 640px) and (orientation: landscape) {

    .banner {
        width: calc(50% - 2px);

    }

}

/*----------------------------------------Форма POPUP-----------------------------------*/

.popup {
    display: none;
}

.popup1 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form_popup {
    position: relative;
    width: 300px;
    padding: 30px 15px 15px 15px;
    background-color: var(--color-white);

}

.popup-close {
    position: absolute;
    top: -20px;
    right: 0px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
}

.form_popup p {
    text-align: center;
    font-family: 'OpenSansBold', sans-serif;
    color: var(--color-black);
    font-size: 15px;
    line-height: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-black);
}

.form_popup p::after {
    content: "";
    display: block;
    height: 3px;
    background-color: var(--color-orange);
    width: 25%;
    margin: 15px auto;
    margin-bottom: 20px;
}

.form_popup span {
    font-family: 'OpenSansRegular', sans-serif;
    color: var(--color-black);
    font-size: 12px;


}

.select {
    display: block;
    width: 100%;
    height: 45px;
    background-color: var(--color-gray);
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 10px bottom 15px;
    padding-left: 20px;
    margin: 0;
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 10px;
    color: var(--color-black);
    border: 0;
    margin-bottom: 20px;
    margin-top: 5px;
    -webkit-appearance: none;
    -moz-animation: none;

}

.input-group__control {
    display: none;
    margin-right: 40px;
    margin-bottom: 40px;
}

.radio-group-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;


}

.radio-group {
    margin-bottom: 20px;
}

.input-group__control:checked+.radio-group-text::before {
    background-image: url(../svg/form-circle.svg);

}

.content {
    width: 100%;
    height: 150px;
    padding-left: 10px;
    background-color: var(--color-gray);
    margin-bottom: 10px;
    border: none;
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 10px;
    color: var(--color-black);

}

.button_send {
    display: block;
    text-align: center;
    background-color: var(--color-orange);
    width: 100%;
    height: 45px;
    font-family: 'OpenSansBold', sans-serif;
    color: var(--color-black);
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
}